body {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 30% 10% auto 30%;
    grid-template-areas: "header header"
                         "nav nav"
                         "sidebar main"
                         "footer footer";
}

header {
    background-color: orangered;
    grid-area: header;
}

nav {
    background-color: lightsalmon;
    grid-area: nav;
}

section {
    background-color: black;
    color: white;
    /* grid-area: main; */
}

aside {
    background-color: pink;
    grid-area: sidebar;
}

article {
    background-color: hotpink;
    grid-area: main;
   
}



footer {
    background-color: aqua;
    grid-area: footer;
}
